{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "all",
    "printWidth": 100,
    "tabWidth": 4,
    "arrowParens": "avoid",
    "importOrder": ["<THIRD_PARTY_MODULES>", "^[./]"],
    "importOrderSeparation": false,
    "importOrderSortSpecifiers": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
